/* You can add global styles to this file, and also import other style files */
.center-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to the full viewport height to center vertically */
}
